@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap');

$breakpoint-tablet: 992px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
}

.App {
    scroll-snap-type: y mandatory;
    section {
        scroll-snap-align: start;
    }

    .bg{
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-image: url('../assets/BG1.jpg');
        background-position: fixed;
        background-size: cover;
    }

    .overlay {
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0%;
        z-index: 100;
        background: linear-gradient(292deg, rgba(255,255,255,1) 22%, rgba(246,255,213,1) 85%);
        
        .overlay-logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url('../assets/Logo.svg');
            height: 250px;
            width: 250px;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    
.intro{
    height: 100vh;
    width: 100vw;
    opacity: 1;
    position: relative;
    .bottle-imgs{
        height: 65%;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: row;
        .img-c{
            height: 80%;
            width: 100vw;
            background-image: url('../assets/compressed-bottle-images/3bt-shadow.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
        }
    }
    .logo{
        height: 13%;
        background-image: url('../assets/Logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }    
    .logo-desc{
        margin-top: 25px;
        font-size: 3.4rem;
        letter-spacing: -4px;
        text-align: center;
        font-weight: 800;
    }

}

    .about{
        margin: 0  auto;
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        .content{
            margin: 4rem auto;
            width: 80%;
            text-align: center;
            .name-1{
                font-size: 2.9rem;
                letter-spacing: -4px;
                font-weight: 800;
            }
            .name-2{
                font-size: 2rem;
                letter-spacing: -2px;
                font-weight: 800;

            }
            .item-desc{
                font-size: 1.5rem;
            }
            p{
                margin:1rem 0;
                font-size: 1.1rem;
                font-weight: 600;
            }

            .about-logo{
                margin-bottom: 1.4rem;
                height: 8vh;
                background-image: url('../assets/Logo.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

            }
        }
          .koshers{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;
                .kosher-1{
                    width: 8rem;
                    height: 3.5rem;
                    background-image: url('../assets/Kosher1.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .kosher-2{
                    width: 8rem;
                    height: 3.5rem;
                    background-image: url('../assets/Kosher2.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }

    }
    

    .stores{
        
        display: flex;
        flex-direction: column;
        justify-content: start;
        // min-height: 100vh;
        width: 100vw;
        background: rgba(254, 246, 169, 0.8);
        text-align: center;
        h2{
            font-size: 2.3em;
            font-weight: 800;
            letter-spacing: -2px;
        }

        ul{
            margin: 0.5rem;
        }

        li{
            font-size: 1.4rem;
            font-weight: 600;
        }
     
           
        .alter-logo{
            margin: 2rem 0;
            height: 30vh;
            background-image: url('../assets/logo-icon.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    .footer{
        padding: 10px;
        background-color: #000;
        color: #fff;
        text-align: center;
        .warning{
            padding: 1rem;
            font-size: 1.4rem;
            border: 3px solid  rgba(254, 246, 169, 0.8);
        }
        .end-footer{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 1rem .5rem ;
            .caspirits{
                color: #fff;
                text-decoration: none;
                letter-spacing: 0.2rem;
          
            }
        }
    }

}

@media (min-width: $breakpoint-tablet) {
    .App{
        .bg{
            background-image: url('../assets/BG1-desktop.jpg');
        }
        .intro{
            display: flex;
            align-items: center;
            justify-content: center;
            .bottle-imgs{
                position: relative;
                right: 5vh;
                height: 85%;
                .img-c{
                    height:100%;
                    width: 70vh;
                }
            }
            span {
                position: relative;
                right: 5vh;
                width: 18vw;
                display: flex;
                direction: row;
                flex-wrap: wrap;
                text-align: center;
                .logo{
                    width: 100%;
                    height: 20vh;
                    margin: 0;
                }
                .logo-desc{
                    margin:0;
                    width: 100%;
                }
            }
        }
        .about{
            min-height: 50vh;
            .content{
                .name-1{
                    font-size: 3.2rem;
                }
                .name-2{
                    font-size: 2.4rem;
                }
                .item-desc{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.6rem;
                }
                .about-logo{
                    height: 10vh;
                }
            }
             .koshers{
                align-self: flex-end;
                display: flex;
                align-items: center;
                justify-content: start;
                margin-bottom: 1rem;
                // position: absolute;
                .kosher-1{
                    width: 10rem;
                    height: 5rem;
                    background-image: url('../assets/Kosher1.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                .kosher-2{
                    width: 10rem;
                    height: 5rem;
                    background-image: url('../assets/Kosher2.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
        .stores{
            min-height: 100vh;
            ul {
                margin: 2.5rem auto;
                width: 60%;
                columns: 2;
                -webkit-columns: 2;
                -moz-columns: 2;
                li{
                    font-size: 1.7rem;
                    font-weight: 700;
                    margin-bottom: 10px;               
                }
            }
        .alter-logo{
            height: 35vh;
        }
        }
    }
}